

.user-paginated-item{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-column: span 2 / span 2;
    flex-direction: column;
    gap: 4px;
}

.user-paginated-item.col-4{
    grid-column: span 4 / span 4;
}

.bold-text{
    font-weight: 550;
}