
.collection-table-grid{
    gap:16px;
}

.div-load {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    background-color: rgb(211, 211, 211);
    border-radius: 8px;
    margin-bottom: var(--spacing-sm);
}

@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .3;
    }
  }